extends base/_layout
block head
   title Оставить заявку
block page
   main.main
      section.info
         .info__inner.container
            h2.title.title--sec Оставить заявку
            .info__main.info__main--reverse
               form.form(action="#")
                  .form__manage
                     label.form__label
                        span Ваше имя:
                        input(type="text")
                     label.form__label
                        span Название организации (не обязательно):
                        input(type="text")
                     label.form__label
                        span Телефон для связи:
                        input(type="tel")
                     label.form__label
                        span Электронная почта (не обязательно):
                        input(type="email")
                     label.form__label
                        span Сообщение:
                        textarea(cols="30", rows="10")
                  button.form__btn.btn Отправить заявку
               .info__desc
                  .info__text
                     p.
                        Комплексный подход. Специалисты компании всегда готовы помочь с выбором. При этом, если среди готовых изделий не найдется подходящий вариант, вы сможете заказать у нас индивидуальное изготовление мебели. В качестве дополнительных услуг мы предлагаем своим клиентам доставку и сборку купленной продукции.
                     p.
                        Отличное техническое оснащение производства. В 2009 году фабрика практически полностью (на 90-95%) обновила технологический парк. Сегодня производство, под которое отведено 15 000 м2, представляет собой современный комплекс, оснащенный инновационным оборудованием.
                  address.address
                     p.address__lead Отличное техническое оснащение производства.
                     a.address__tel(href="tel:+74957766645") +7 495 776-66-45
                     .address__time
                        p Понедельник - пятница: с 08:00 до 21:00
                        p Выходные и праздничные дни: с 10:00 до 21:00
                     .address__location
                        p 624441, Свердловская обл., г. Краснотурьинск, ул. Пушкина, д. 4, офис 316
                        a(href="#") Показать на карте
                     a.address__email(href="email:support@stkwood.ru") support@stkwood.ru