extends base/_layout
block head
   title Полезная информация
block page
   section.info
      .info__inner.container
         h2.title.title--sec Полезная информация
         .info__faq
            .faq
               ol.faq__list
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Комплексный подход. Специалисты компании всегда готовы помочь с выбором.
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Сколько стоят услуги дизайнера? Платный ли выезд на замер?
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Можете ли Вы сделать 3D-проект будущей мебели? Платно ли это?
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Что такое 1 погонный метр кухни?
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Какой срок изготовления мебели?
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Как происходит оплата?
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.
                  li.faq__item
                     a.faq__question(href="#")
                        p.
                           Какие материалы Вы применяете при изготовлении мебели?
                     .faq__answer
                        p.
                           В качестве основного материала используем ламинированное ДСП. Мебельные фасады могут быть изготовлены по Вашему желанию из более разнообразного перечня: МДФ крашенный и пленочный, пластик, массив древесины, стекло и другое.

            .info__address
               address.address
                  p.address__question Вы можете задать интересующий вас вопрос нашему менеджеру по телефону:
                  a.address__tel(href="tel:+74957766645") +7 495 776-66-45
                  .address__time
                     p Понедельник - пятница: с 08:00 до 21:00
                     p Выходные и праздничные дни: с 10:00 до 21:00
                  .address__location
                     p 624441, Свердловская обл., г. Краснотурьинск, ул. Пушкина, д. 4, офис 316
                     a(href="#") Показать на карте
                  a.address__email(href="email:support@stkwood.ru") support@stkwood.ru
               