footer.footer
   .footer__inner.container
      .footer__top
         a.footer__logo.logo.logo--sec(href="#")
            img.logo__icon(src="images/icons/logo.svg", alt="логотип" width="31" height="31")
            h1
               | stkwood #[br]
               span Натуральные деревянные изделия
      nav.footer__nav
         ul.footer__nav-list
            li
               a(href="#") ГЛАВНАЯ
            li
               a(href="#") О КОМПАНИИ
            li
               a(href="#") НАШИ РАБОТЫ
            li
               a(href="#") СТАТЬ ПАРТНЕРОМ
            li
               a(href="#") ПОЛЕЗНАЯ ИНФОРМАЦИЯ
            li
               a(href="#") КОНТАКТЫ
      .footer__bottom
         a.footer__tel(href="tel:+74958007856") +7 495 800-78-56
         p.footer__copy Все права защищены © 2022. ООО “СТКВУД”