header.header
   .header__wrapper
      .header__inner
         .header__top.container
            button.header__burger
               img(src="images/icons/burger.svg" alt="открыть меню" width="24" height="24")
            a.header__logo.logo(href="#")
               img.logo__icon(src="images/icons/logo.svg" alt="логотип" width="31" height="31")
               h1
                  | stkwood #[br]
                  span Натуральные деревянные изделия
         .header__menu
            .header__menu-top
               a.header__menu-close(href="#")
                  img(src="images/icons/close.svg", alt="закрыть меню" width="24" height="24")
            .header__menu-bottom
               nav.header__nav
                  ul.header__nav-list
                     li
                        a(href="#") Главная
                     li
                        a(href="#") О компании
                     li
                        a(href="#") Наши работы
                     li
                        a.header__nav-link--active(href="#") Стать партнером
                     li
                        a(href="#") Полезная информация
                     li
                        a(href="#") Контакты
               address.address
                  a.address__tel(href="tel:+74957766645") +7 495 776-66-45
                  .address__time
                     p Понедельник - пятница: с 08:00 до 21:00
                     p Выходные и праздничные дни: с 10:00 до 21:00
                  a.address__email(href="email:support@stkwood.ru") support@stkwood.ru
                  .address__location
                     p 624441, Свердловская обл., г. Краснотурьинск, ул. Пушкина, д. 4, офис 316
                  a.btn(href="#") Отправить заявку
