.furniture
   margin-bottom: var(--margin)
   &__slide
      padding: 32px
      position: relative
      background: #2F1A1B
      color: #fff
      .title
         text-transform: uppercase
   &__info
      position: relative
      z-index: 5
   &__text
      margin-bottom: 12px
      font-weight: 400
      font-size: 11px
      line-height: 120%
      letter-spacing: 0.05em
   .btn
      color: #fff
      border-color: #fff
      &--secondary
         display: none
         background: #fff
         color: #000
