.reviews
   margin-bottom: var(--margin)
   &__main
      margin-bottom: var(--margin)
   &__top
      margin-bottom: 20px
   &__lead
      color: #737373
   &__doc
      margin-bottom: 24px
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 12px
      li
         min-width: 100px
         height: 186px
         background: #F5F5F5
         display: flex
         justify-content: center
         align-items: center
   &__text
      margin-bottom: 20px
   &__brands
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 12px
      li
         height: 70px
         border: 0.581401px solid #D9D9D9
         display: inline-flex
         justify-content: center
         align-items: center
